<lable for="category">Категория</lable>
<select id="category" class="select-item" ng-model="model.category"  ng-options="note.category as note.category for note in ocw|filterCat:'category'" >
    <option  value="" >All</option>
</select>
<lable for="vip">VIP Статус</lable>
<select id="vip" class="select-item" ng-model="model.VIP"   ng-options="note.VIP as note.VIP for note in ocw|filterCat:'VIP'">
    <option value="">All</option>
</select>
<div class="header">

    <i class="fa fa-angle-left" ng-click="previous()"></i>
    <span>{{month.format("MMMM, YYYY")}}</span>
    <i class="fa fa-angle-right" ng-click="next()"></i>
</div>
<div class="week names">
    <span class="day">Sun</span>
    <span class="day">Mon</span>
    <span class="day">Tue</span>
    <span class="day">Wed</span>
    <span class="day">Thu</span>
    <span class="day">Fri</span>
    <span class="day">Sat</span>
</div>
<div class="week" ng-repeat="week in weeks">
    <span class="day" ng-class="{ today: day.isToday, 'different-month': !day.isCurrentMonth, selected: day.date.isSame(selected) }" ng-click="select(day)" ng-repeat="day in week.days">{{day.number}}<div ng-repeat="item in day.eventsList | filter:(model.category||undefined)||(model.VIP||undefined) | orderBy:'time'">{{item.time}}  {{item.name}}  {{item.category}}</div></span>
</div>